<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>New User</title>
</head>
<body>
<div align="center">
    <h2>New User</h2>

    <form action="#" th:action="@{/new}" th:object = "${user}" method="post">

        <label for="username">Username</label>
        <input type="text" name = "username" id = "username" th:field = "*{username}">

        <label for="username">Password</label>
        <input type="text" name = "password" id = "password" th:field = "*{password}">


        <label for="multiple-roles">Roles:</label>
        <select id="multiple-roles" name="roles" multiple size="2">
            <option th:each="role: ${allRoles}"
                    th:value="${role.getId()}"
                    th:text="${role.getName()}"
                    th:selected="${user.getRoles()}">
            </option>
        </select>
        <input type="submit" value="Add User">
    </form>

</div>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>